.sidebar {
    background-color: var(--bd);
    color:white;

    width:10vw;
    max-width:10vw;
    height:100vh;

    margin:0;
    padding:0;

    display:flex;
    flex-direction: column;
    align-items:center;
}

.logo {
    font-size:2.5rem;
    letter-spacing: 0.5rem;
}